.card {
  margin: 10px;
}

.container-schedule {
  padding-bottom: 300px;
}

.title {
  margin-top: 50px;
}

.schedule {
  padding-bottom: 30%;
}

/* setting padding will allow the color to show up for all sections */
#warning{
  border-radius: 15px;
  background-color: #c20a0a;
  color: white;
}