.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/*-- header styles --*/
body {
  background-color: #ede5ed;
}

.container-header {
  display: flex;
  background-color: #57068c;
  align-items: center;
  padding: 30px;
}

.left-nav {
  width: 50%;
  flex-direction: column;
}

.left-nav li {
  list-style: none;
  padding: 10px;
  display: inline;
  padding: 20px;
  margin: 10px;
}

.left-nav li:hover {
  background-color: #220337;

}

.left-nav a {
  text-decoration: none;
  color: white;
}

.right-nav {
  width: 50%;
}

nav .logo {
  height: 70px;
  padding-right: 20px;
  float: right;
}

/*-- profile page --*/

.edit-field {
  float: right;
  padding-left: 10em;
}

.schedule-container {
  padding: 10px;
}


h1 {
  color: #57068c;
}

.profile-page {
  max-width: 400px;
}

th, td {
  width: 100px !important;
  height: 100px !important;
  text-align: center;
}